.App {
     width: 100%;
     margin: 1% 0%;
}
h1 {
     width: 84%;
    margin: 1% 2%;
    font-size: 7em; 
}

.title-deco:hover{
     color: transparent;
     font-size: 1em;
     background-size: 100%;
     background: url(https://thumbs.gfycat.com/ShorttermEasyFerret-size_restricted.gif);
     background-clip: text;
     -webkit-background-clip: text; 
}

/* h1:hover{
     color: transparent;
     background-size: 500%;
     background: url(https://thumbs.gfycat.com/ShorttermEasyFerret-size_restricted.gif);
     background-clip: text;
     -webkit-background-clip: text; 
} */

.link{
     color: black;
     text-decoration: none;
}

.body {
     width: 96%;
     /* height: 500px; */
     /* margin: 0% 1%; */
     margin: auto;
     display: flex;
     /* flex-direction: row; */
     text-align: center;
     column-gap: 43px;
}


/* HEADER */

.photo-container {
     display: flex;
    width: 100%;
    height: auto;
    margin: auto;
    /* align-items: center; */
    justify-content: flex-start;
    flex-grow: 5;
}
.photo-container img{
     width: 100%;
}



